/*#map {
  height: calc(100vh - 160px);
  / * Altura total menos navbar e rodapé * /
}

@media only screen and (max-width: 767px) {
  #map {
    height: calc(100vh - 200px);
  }
}
  */


#map {
  height: calc(100vh - 170px);
  width: 100%;
}

#sidebar {
  height: calc(100vh - 170px);
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  #map {
    height: calc(100vh - 300px);
    width: 100%;
  }

  #sidebar {
    height: calc(100vh - 350px);
    overflow-y: auto;
  }
}

#navMenu{
  padding-left: 7.8%;
  padding-right: 7.8%;
}

.list-group-item {
  cursor: pointer;
}

#btnBuscaBox:hover {
  opacity: 0.8;
  cursor: pointer;
}


/*Tamanhos de ícones*/
.icon-xbig {
  font-size: 11rem
}

.icon-big {
  font-size: 7rem
}

.icon-medium {
  font-size: 5rem
}

.icon-small {
  font-size: 3rem
}

.icon-xsmall {
  font-size: 1rem
}